<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="uConsole">
<meta name="theme-color" content="#000000">
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="apple-touch-icon" href="/favicon.png">
<link rel="manifest" href="/manifest.json">
{% block extra_head %}{% endblock %}
<title>{% block title %}uConsole{% endblock %}</title>
<style>{% block inline_style %}{% endblock %}</style>
</head>
{% block body %}{% endblock %}
</html>
