[Unit]
Description=uConsole system update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/uconsole/scripts/system/update.sh
WorkingDirectory=/opt/uconsole/scripts/system
User=UCONSOLE_USER
Group=UCONSOLE_USER
